<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sample.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @sample.body %>
</p>

<p>
  <strong>Url:</strong>
  <%= @sample.url %>
</p>

<p>
  <strong>Tags</strong>
  <%= @sample.tags %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Delete', sample_path(@sample), method: :delete, data: { confirm: "Are you sure?" } %> |

<%= link_to 'Back', samples_path %>


