<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark bg-dark navbar-background">
    <% if logged_in?  %>
      <a class="navbar-brand">
        <%= link_to current_user.account.name, presentations_path %> 
      </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <p class="nav-email"> <%= current_user.email %> </p>
      </li>
      <li class="nav-item">
        <%= link_to "settings", edit_account_path(current_user.account_id), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "log out", logout_path, class: "nav-link"  %>
      </li>
   </ul>
    <% else %>
      <div class="navbar-brand mr-auto p-2">
        Sample App
      </div>
      <ul class="navbar-nav ml-auto">
      <li class="nav-item pr-1">
        <%= link_to "Sign Up", register_path %> or
      </li>
      <li class="nav-item pr-1">
        <%= link_to "Log In", login_path %>
      </li>
      </ul>
    <% end %>
</nav>